.items {
  position: relative;
  width: 708px;
  font-size: 13px;
}
.items .item {
  width: 200px;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: #eee;
}

.items {
  width: auto;
}
